@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  background-image: linear-gradient(120deg, #65c8f6 0%, #6f72ff 100%);
}
.App {
  text-align: center;
  padding: 20px;
}

.text {
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.input {
  margin-top: 10px;
  background: white;
}

button {
  background: rgb(201, 201, 201);
}

input,
button {
  padding: 0.5rem;
  font-size: 16px;
  border: none;
}

ul {
  text-align: center;
  min-width: 30%;
  list-style: none;
}

li {
  list-style: none;
  padding: inherit;
  margin: auto;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
}
